node_modules
.next
.agents
.github
docs
guia
*.log
.env
.env.*
.git
.gitignore
.vscode
.idea
coverage
.swc
*.md
*.tsbuildinfo
jest.config.js
jest.setup.ts
docker-compose.yml
plan-de-implementacion md
tsconfig.tsbuildinfo
