# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/calculo_presupuestal?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-super-secret-key-change-in-production-min-32-chars"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Cálculo Presupuestal"

# Coolify (for production)
# COOLIFY_URL="https://coolify.clientify.click"
# COOLIFY_TOKEN="your-coolify-token"
# COOLIFY_PROJECT_UUID="e40o4c0404owkoo0sgwks8ow"